<!doctype html>
<html>
<head>
	<title>Node Authentication</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<link rel="stylesheet" href="static/css/jumbotron-narrow.css">
	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="static/js/ejs_production.js"></script>
	<style>
		body 		{ padding-top:80px; }
		.borderless > tbody > tr > td {
			border: none;
		}
	</style>
</head>
<body>
<div class="container">
	<div class="jumbotron text-center">
		<h1>hack_pizza</h1>
	</div>
		<h2>Nearby Orders
		<a class="btn btn-default pull-right" href="#add-order">Add Order</a>
		</h2>
		<br>
	<div>
		<% for(var i=0; i < orders.length; i++) { %>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="text-left">
					<%= orders[i].name %>
					<button type="button" class="btn btn-default btn-lrg pull-right">Join Order</button>
				</h3>
			</div>
			<div class="panel-body">
				<table class="table borderless">
				  <tr><td class="col-md-2 text-left">Description:</td><td class="text-left"><%= orders[i].description %></td></tr>
					<tr><td class="col-md-2 text-left">Status:</td><td class="text-left"><%= orders[i].status %></td></tr>
					<tr><td class="col-md-2 text-left">Cost:</td><td class="text-left">$<%= orders[i].slice_cost %></td></tr>
					<tr><td class="col-md-2 text-left">Location:</td><td class="text-left"><%= orders[i].location.description %></td></tr>
				</table>
				<hr>
				<div class="progress">
					<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
					6/10 slices
					</div>
				</div>
			</div>
		</div>
		<% } %>
		<hr>
		<div class="panel panel-default" id="add-order">
			<div class="panel-heading">
				<h3>Add Order</h3>
			</div>
			<div class="panel-body">
				<form class="form-horizontal">
					<!-- Name Input -->
					<div class="form-group">
							<label for="inputName" class="control-label col-xs-3">Your Name</label>
							<div class="col-xs-8">
									<input type="email" class="form-control" id="inputName" placeholder="Name">
							</div>
					</div>
					<!-- Description Input -->
					<div class="form-group">
							<label for="inputDescription" class="control-label col-xs-3">Order Description</label>
							<div class="col-xs-8">
									<textarea class="form-control" id="inputDescription" placeholder="Description"></textarea>
							</div>
					</div>
					<!-- Number of Slices Input -->
					<div class="form-group">
							<label for="inputSlices" class="control-label col-xs-3">Number of Slices in Order</label>
							<div class="col-xs-8">
									<input type="number" class="form-control" id="inputSlices" placeholder="Number of slices">
							</div>
					</div>
					<!-- Cost per Slice Input -->
					<div class="form-group">
							<label for="inputCost" class="control-label col-xs-3">Cost Per Slice</label>
							<div class="col-xs-8">
									<input type="number" class="form-control" id="inputCost" placeholder="Cost per slice">
							</div>
					</div>
					<!-- Orderer Slices Input -->
					<div class="form-group">
							<label for="inputOrdererSlices" class="control-label col-xs-3">Number of Slices You Want</label>
							<div class="col-xs-8">
									<input type="number" class="form-control" id="inputOrdererSlices" placeholder="Number of slices you want">
							</div>
					</div>
					<!-- Location Input -->
					<div class="form-group">
							<label for="inputName" class="control-label col-xs-3">Location</label>
					</div>
					<div class="pull-right">
						<script
							src="https://checkout.stripe.com/checkout.js" class="stripe-button"
							data-key="pk_test_6pRNASCoBOKtIshFeQd4XMUh"
							data-image="static/img/logo.png"
							data-name="hack_pizza"
							data-description="2 widgets ($20.00)"
							data-amount="2000">
						</script>
					</div>
			</form>
			</div>
		</div>
	</div>
</div>
</body>
</html>
