<!doctype html>
<html>
<head>
	<title>Node Authentication</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<link rel="stylesheet" href="static/css/jumbotron-narrow.css">
  <link rel="stylesheet" href="//cdn.jsdelivr.net/jquery.bootstrapvalidator/0.5.0/css/bootstrapValidator.min.css"/>
	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="static/js/ejs_production.js"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.bootstrapvalidator/0.5.0/js/bootstrapValidator.min.js"></script>
	<style>
		body 		{ padding-top:80px; }
		.borderless > tbody > tr > td {
			border: none;
		}
	</style>
</head>
<body>
<div class="container">
	<div class="jumbotron text-center">
		<h1>hack_pizza</h1>
	</div>
		<h2>Nearby Orders
		<a class="btn btn-default pull-right" href="#add-order">Create Order</a>
		</h2>
		<br>
	<div>
		<% for(var i=0; i < orders.length; i++) { %>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="text-left">
					<%= orders[i].name %>
					<button type="button" class="btn btn-default btn-lrg pull-right">Join Order</button>
				</h3>
			</div>
			<div class="panel-body">
				<table class="table borderless">
				  <tr><td class="col-md-2 text-left">Description:</td><td class="text-left"><%= orders[i].description %></td></tr>
					<tr><td class="col-md-2 text-left">Status:</td><td class="text-left"><%= orders[i].status %></td></tr>
					<tr><td class="col-md-2 text-left">Cost:</td><td class="text-left">$<%= Number(orders[i].slice_cost).toFixed(2) %></td></tr>
					<tr><td class="col-md-2 text-left">Location:</td><td class="text-left"><%= orders[i].location.description %></td></tr>
				</table>
				<hr>
				<div class="progress">
					<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
					6/10 slices
					</div>
				</div>
			</div>
		</div>
		<% } %>
		<hr>
		<div class="panel panel-default" id="add-order">
			<div class="panel-heading">
				<h3>Create Order</h3>
			</div>
			<div class="panel-body">
				<form class="form-horizontal" action="/create-order" id="createForm" method="post">
					<!-- Name Input -->
					<div class="form-group">
							<label for="inputName" class="control-label col-xs-3">Your Name</label>
							<div class="col-xs-8">
									<input type="text" class="form-control" id="order_name" placeholder="Name">
							</div>
					</div>
					<!-- Description Input -->
					<div class="form-group">
							<label for="inputDescription" class="control-label col-xs-3">Order Description</label>
							<div class="col-xs-8">
									<textarea class="form-control" id="order_description" placeholder="Description"></textarea>
							</div>
					</div>
					<!-- Number of Slices Input -->
					<div class="form-group">
							<label for="total_slices" class="control-label col-xs-3">Number of Slices in Order</label>
							<div class="col-xs-8">
									<input type="number" class="form-control" id="total_slices" placeholder="Number of slices">
							</div>
					</div>
					<!-- Cost per Slice Input -->
					<div class="form-group">
							<label for="slice_cost" class="control-label col-xs-3">Cost Per Slice</label>
							<div class="col-xs-8">
									<input type="number" min="0.01" step="0.25" pattern="^\d*(\.\d{2}$)?" title="CDA Currency Format - no dollar sign and no comma(s) - cents (.##) are optional" class="form-control" id="slice_cost" placeholder="Cost per slice">
							</div>
					</div>
					<!-- Orderer Slices Input -->
					<div class="form-group">
							<label for="inputOrdererSlices" class="control-label col-xs-3">Number of Slices You Want</label>
							<div class="col-xs-8">
									<input type="number" class="form-control" id="orderer_slices" placeholder="Number of slices you want">
							</div>
					</div>
					<!-- Location Input -->
					<div class="form-group">
							<label for="inputName" class="control-label col-xs-3">Location</label>
					</div>
					<div class="pull-right">
            <script src="https://checkout.stripe.com/checkout.js"></script>
            <button type="button" class="btn btn-default btn-lrg pull-right" id="createButton">Create Order</button>
            <script>
            var handler = StripeCheckout.configure({
              key: 'pk_test_6pRNASCoBOKtIshFeQd4XMUh',
              image: '/static/img/logo.png',
              token: function(token) {
                // Use the token to create the charge with a server-side script.
                // You can access the token ID with `token.id`

                $("<input type='text' />")
                 .attr("value", token)
                 .attr("id", "token")
                 .appendTo("#createForm");
                $("<input type='text' />")
                 .attr("value", 0)
                 .attr("id", "latitude")
                 .appendTo("#createForm");
                $("<input type='text' />")
                 .attr("value", 0)
                 .attr("id", "longitude")
                 .appendTo("#createForm");
                document.getElementById('createForm').submit();
              }
            });
            document.getElementById('createButton').addEventListener('click', function(e) {
              // Open Checkout with further options
              handler.open({
                name: 'hack_pizza',
                description: document.getElementById('orderer_slices').value + ' slices ($' + (document.getElementById('slice_cost').value*document.getElementById('orderer_slices').value).toFixed(2) + ')',
                amount: (document.getElementById('slice_cost').value*document.getElementById('orderer_slices').value)*100
              });
              e.preventDefault();
            });
            </script>
					</div>
        </form>
			</div>
		</div>
	</div>
</div>
</body>
</html>
