<!doctype html>
<html>
<head>
	<title>Order Status</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<link rel="stylesheet" href="/static/css/jumbotron-narrow.css">
  <link rel="stylesheet" href="//cdn.jsdelivr.net/jquery.bootstrapvalidator/0.5.0/css/bootstrapValidator.min.css"/>
	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/static/js/ejs_production.js"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.bootstrapvalidator/0.5.1/js/bootstrapValidator.min.js"></script>
	<style>
		body 		{ padding-top:80px; }
		.borderless > tbody > tr > td {
			border: none;
		}
    .test {
      background-color: black;
    }
	</style>
</head>
<body>
<%= order %>
<div class="container">
	<div class="jumbotron text-center">
		<h1>hack_pizza</h1>
	</div>
    <div class="row marketing">
        <div class="col-lg-6">
          <h1><%= order.name %></h1>
          <h4>Description</h4>
          <p><%= order.description %></p>
          <h4>Price per slice</h4>
          <p>$<%= Number(order.slice_cost).toFixed(2) %></p>
          <h4>Available slices</h4>
          <p><%= order.avialable_slices + " out of " + order.total_slices + "slices" %></p>
          <h4>Status</h4>
          <p><%= order.status %></p>
          <% if(is_groupie) { %>
            <form action="/confirm-delivery" method="post">
              <input type="text" name="order_key" value="<%= order._id %>" hidden>
              <input type="submit" class="btn btn-default btn-large" value="Confirm Delivery">
            </form>
          <% } else if(is_owner) { %>
            <form action="/confirm-delivery" method="post">
              <input type="text" name="order_key" value="<%= order._id %>" hidden>
              <input type="submit" class="btn btn-default btn-large" value="Confirm Delivery">
            </form>
          <% } else { %>
            <h4>Join Order</h4>
            <form class=form-horizontal" action="/join-order" method="post">
              <div class="form-group">
                <input type="text" name="order_key" value="<%= order._id %>" hidden>
                <div class="cols-md-1">
                  <input type="number" min="1" class="form-control" name="groupie_slices" id="groupie_slices" placeholder="Number of slices">
                </div>
                <input type="submit" class="btn btn-default btn-large" value="Join Order">
              </div>
            </form>
          <% } %>
        </div>

        <div class="col-lg-6">
          <img src="/static/img/sample_map.png" class="img-responsive">
        </div>
      </div>
		<br>
  </div>
</div>
</body>
</html>
